<template name="friends">
    {{> _header}}
    <div class="template-friends">
        <div class="page-header">
            <h1>Friends List</h1>
        </div>
        <div class="form-style">
            <h1>Search for friends</h1>
            <form>
                <input type="text" name="Email" placeholder="Search for a user by email" />
                <input class="btn btn-primary dashboardButtons" type="submit" value="Find Users" />
            </form>
        </div>


        {{#if getResults}}
            <div class="container">
                <ul>
                    <li>
                        <div class="profileCard">
                            {{getResults.emails/[0].address}}<br/>
                            {{#if userNotFriend}}
                                <button class="addBtn btn btn-primary dashboardButtons">add</button>
                            {{/if}}
                        </div>
                    </li>
                </ul>
            </div>
        {{/if}}
    </div>
</template>